ufs_pyutils
git+https://www.github.com/HenryWinterbottom-NOAA/ufs_diags.git
git+https://www.github.com/HenryWinterbottom-NOAA/ufs_obs.git
tcpypi
jupyterlab
notebook
cmocean
matplotlib
mycolorpy
pyahocorasick
scipy
basemap
basemap-data-hires
tcmarkers
